{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}TODO - {{ user }}{% endblock %}

{% block content %}
<body class="text-center">
    <main>
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">TODO List</a>
    <font color="white">
    <p> Welcome {{ user }} - <a href="{% url 'logout' %}">Log Out</a></p> 
    </font>
    </div>
</nav>

    <ul>
    <div >
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Check/Uncheck</th>
                <th scope="col">Changes</th>
                <th scope="col">Delete</th>
            </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
    <tr{% if task.complete is True %} class="table-success"{% endif %}>
        <td>
        {% if task.complete is True %}<strike>{% endif %}
            {{ task.description }}
        {% if task.complete is True %}</strike>{% endif %}
        </td>
        <td>{{ task.duedate }}</td>
        <td>
            {% if task.complete is False %}
            <a href="/complete-task/{{ task.id }}">complete</a> 
            {% else %}
            <a href="/incomplete-task/{{ task.id }}">incomplete</a> 
            {% endif %}
        </td>
        <td><a href="/update-task/{{ task.id }}">update</a></td>
        <td><a href="/delete-task/{{ task.id }}">delete</a></td>
    </tr>
    {% endfor %}
    
    </tbody>
    </table>
    </div>

    <h2>Add Task</h2>
    <form action="/create-task" method="post">
        {% csrf_token %}
        {{ task_form|crispy }} 
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

</main>
</body>
{% endblock %}